aiofiles==0.8.0
ajsonrpc==1.2.0
altgraph==0.17.4
anyio==3.5.0
asgiref==3.5.0
asn1crypto==1.5.1
attrs==23.1.0
bottle==0.12.19
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.12
click==8.1.2
colorama==0.4.4
contourpy==1.2.0
cryptography==36.0.2
cycler==0.12.1
darkdetect==0.7.1
distlib==0.3.4
et-xmlfile==1.1.0
exceptiongroup==1.1.3
filelock==3.6.0
fonttools==4.44.0
greenlet==1.1.2
h11==0.13.0
idna==3.3
ifaddr==0.1.7
kiwisolver==1.4.5
marshmallow==3.15.0
matplotlib==3.8.1
numpy==1.26.2
OctoPrint-FileCheck==2021.2.23
OctoPrint-FirmwareCheck==2021.10.11
OctoPrint-PiSupport==2022.6.13
opencv-python==4.8.1.78
openpyxl==3.1.5
oscrypto==1.3.0
outcome==1.2.0
packaging==24.1
pandas==2.2.3
passlib==1.7.4
pefile==2023.2.7
Pillow==10.1.0
platformdirs==2.5.1
platformio==6.1.4
pycparser==2.21
pycryptodomex==3.14.1
pyelftools==0.28
pyinstaller==6.10.0
pyinstaller-hooks-contrib==2024.8
PyJWT==2.3.0
pylru==1.2.1
pyOpenSSL==21.0.0
pyparsing==3.0.8
PyQt6==6.7.1
PyQt6-Qt6==6.7.2
PyQt6_sip==13.8.0
pyqtdarktheme==2.1.0
pyserial==3.5
PySocks==1.7.1
python-dateutil==2.8.2
pytz==2022.1
pywin32==306
pywin32-ctypes==0.2.2
requests==2.27.1
sarge==0.1.6
selenium==4.13.0
semantic-version==2.10.0
sgmllib3k==1.0.0
six==1.16.0
sniffio==1.2.0
snowflake-connector-python==2.7.6
snowflake-sqlalchemy==1.3.3
sortedcontainers==2.4.0
SQLAlchemy==1.4.35
starlette==0.20.4
tabulate==0.8.9
trio==0.22.2
trio-websocket==0.10.4
tzdata==2024.2
urllib3==1.26.9
uvicorn==0.18.3
vboxapi==1.0
virtualenv==20.13.4
webassets==2.0
wsproto==1.1.0
zeroconf==0.38.4
